.hero{
height:90vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
background:radial-gradient(circle,#1e293b,#020617);
}

.hero h1{
font-size:64px;
font-weight:700;
}

.hero p{
width:550px;
opacity:0.8;
margin-bottom:30px;
}

.hero-buttons button{
margin:10px;
padding:14px 28px;
border:none;
border-radius:8px;
cursor:pointer;
font-size:16px;
transition:0.3s;
}

.btn-primary{
background:#ff2d2d;
color:white;
}

.btn-primary:hover{
background:#ff0000;
}

.btn-secondary{
background:#3b82f6;
color:white;
}

.btn-secondary:hover{
background:#2563eb;
}