.vehicle-section{
text-align:center;
}

.vehicle-section input{
padding:14px;
width:300px;
border-radius:8px;
border:none;
margin-right:10px;
}

.vehicle-section button{
padding:14px 24px;
background:#3b82f6;
border:none;
border-radius:8px;
color:white;
cursor:pointer;
}

.vehicle-section button:hover{
background:#2563eb;
}

.vehicle-section p{
margin-top:20px;
font-size:18px;
}